@import url("https://fakem1ner.github.io/SoftoUtility/SoftoForTypesetter/null.css");
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  line-height: 100%;
  font-family: "Montserrat", serif;
  color: #fff;
}

h1 {
  font-size: 40px;
  font-weight: 500;
}
h1 span {
  font-weight: 700;
  font-size: 35px;
  color: rgb(255, 208, 0);
}
@media (max-width: 768px) {
  h1 {
    text-align: center;
  }
}

h2 {
  font-size: 40px;
}

body {
  background-color: #333;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.search__title {
  margin: 20px;
}
.search__search {
  width: 60%;
  color: #000;
  border-radius: 25px;
  font-size: 24px;
  padding: 10px;
}
@media (max-width: 700px) {
  .search__search {
    width: 90%;
    padding: 10px;
  }
}

.panels__container {
  max-width: 800px;
  margin: 25px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.panel__wrapper {
  transition: background-color 0.5s ease;
  background-color: rgba(255, 255, 255, 0.5647058824);
  display: inline-block;
  text-align: center;
  padding: 20px 50px;
  border-radius: 8px;
  margin: 5px;
}
.panel__wrapper:hover {
  background-color: #ffffff;
}
.panel__text {
  color: #000;
  margin-top: 8px;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.weather {
  display: flex;
  align-items: center;
}
.weather__weather {
  display: inline-block;
}

.city-spoller summary {
  cursor: pointer;
  text-align: center;
}

.city {
  color: #000;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.5647058824);
  border-radius: 8px;
  margin: 10px;
}

.header {
  padding: 30px;
  display: flex;
  align-items: center;
}
.header * {
  margin: 8px;
}
.header__logo {
  width: 64px;
  border-radius: 8px;
}