@import url('https://fakem1ner.github.io/SoftoUtility/SoftoForTypesetter/null.css');
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    line-height: 100%;
    font-family: 'Montserrat', serif;
    color: #fff;
}

h1 {
    font-size: 40px;
    font-weight: 500;
    span {
        font-weight: 700;
        font-size: 35px;
        color: rgb(255, 208, 0);
    }

    @media (max-width: 768px) {
        text-align: center;
    }
}

h2 {
    font-size: 40px;
}

body {
    background-color: #333;
}
.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &__title {
        margin: 20px;
    }   
    &__search {
        width: 60%;
        color: #000;
        border-radius: 25px;
        font-size: 24px;
        padding: 10px;

        @media (max-width: 700px) {
            width: 90%;
            padding: 10px;
        }
    }   
}

.panels {
    // .panels__panel
    &__panel {
    }
    &__container {
        max-width: 800px;
        margin: 25px auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        
    }
}
.panel {
    // .panel__wrapper
    &__wrapper {
        transition: background-color 0.5s ease;
        background-color: #ffffff90;
        display: inline-block;
        text-align: center;
        padding: 20px 50px;
        border-radius: 8px;
        margin: 5px;
        

        &:hover {
            background-color: #ffffff;
        }
    }
    // .panel__icon
    &__icon {
    }
    // .panel__text
    &__text {
        color: #000;
        margin-top: 8px;
    }
}
.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.weather {
    display: flex;
    align-items: center;
    // .weather__icon
    &__icon {
    }
    // .weather__weather
    &__weather {
        display: inline-block;
    }
}

.city-spoller {

    summary {
        cursor: pointer;
        text-align: center;
    }
}

.city {
    color: #000;
    padding: 8px;
    background-color: #ffffff90;
    border-radius: 8px;
    margin: 10px;
    
}

.header {
    padding: 30px;
    display: flex;
    align-items: center;
    
    * { 
        margin: 8px;
    }
    &__logo {
        width: 64px;
        border-radius: 8px;
    }
}